<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/api/public/CSS/style4.css">
    <title>Arts and science</title>
</head>
<body>
    <div class="form-container">
        <form action="/auth/experienced" method="POST">
            <!-- {{#if msg}}
            <p class="{{msg_type}}">{{msg}}</p>
            {{/if}} -->
            <h2>Search Skills</h2>

            <div class="form-group">
                <input type="search" name="search" id="search">
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>