<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles3.css">
    <title>Skill Swap Connect</title>
</head>
<body>
    <div class="title">
        <h2>Skill Swap Connect</h2>
    </div>
    <div class="navbar">
        <a href="/">Logout</a>
    </div>

    <div>
        <h3>
            
        </h3>
    </div>

    <section class="hero">
        <h2>Welcome to Skill Swap Connect</h2>
        <p>Connect with others to exchange skills and knowledge.</p>
    </section>

    <section class="about-us">
        <h2>Engineering</h2>
        <p>Here you get Engineering skills details</p>
        <a href="/engineering" class="btn">Go to Search</a>
    </section>

    <section class="contact-us">
        <h2>Arts and Science</h2>
        <p>Here you get Arts and Science skills details</p>
        <a href="/arts" class="btn">Go to Search</a>
    </section>
    
    <div class="header">
    <header>
        <p>&copy; 2023 Skill Swap Connect</p>
    </header>
    </div>
</body>
</html>
